header {
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding: 0 2.375rem;
    background: rgba(15, 53, 57, 0.659);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2.895rem;
    box-sizing: border-box;
    z-index: 2;

    @include breakpoint-down(small){
        height: 70px;
    }

    @include breakpoint-down(xsmall){
        height: 56px;
        padding: 0 1.895rem;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #e3fff5;
    text-shadow: 0px 2px 1px rgba(25, 41, 40, 0.8);
    margin-bottom: -0.3125rem;

    @include breakpoint-down(small){
        font-size: 1.9rem;
    }

    @include breakpoint-down(xsmall){
        font-size: 1.6rem;
    }
}