.about-hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-image: url("../inspire-img/about-hero-scaled.jpg");
    

    // @include breakpoint-down(small){
    //     height: 70vh;
    //     background-image: url("../inspire-img/hero-small.jpg");
    // }

    // @include breakpoint-down(xsmall){
    //     height: 45vh;
    //     background-image: url("../inspire-img/hero-small.jpg");
    // }
}

.about-hero-overlay {
    height: 850px;
    width: 1440px;
    position: absolute;
    //background: rgba(17, 82, 70, 0.73); 
    background: linear-gradient(to right,  rgba(0, 66, 53, 1), rgba(0, 66, 53, 0.97), rgba(12, 81, 67, 0.85),rgba(24, 81, 70, 0.8));
}

.about-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #E8E8E8;
    z-index: 1;
    width: 100vw;
    height: 850px;
    margin-left: -215px;
    margin-top: -20px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
}

.about-hero-text-appear {
    opacity: 1;
    transform: translateX(0px);
}

.about-story {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 593px;
    padding-top: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
    // background-color: #bbbbbb;
}

.about-story-appear {
    opacity: 1;
    transform: translateX(0px);
}

.about-story-headline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #3d3d3d;
}

.about-story-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #3d3d3d;
    width: 787px;
    line-height: 1.4;
}

.about-mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #E8E8E8;
}

.about-mission-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 53px -25px rgba(0, 0, 0, 0.55);
    position: absolute;
    padding: 40px;
    height: 342px;
    width: 758px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
    color: #3d3d3d;
}

.about-mission-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    color: #3d3d3d;
    margin: 0;
}

.about-box-right{
    position: relative;
    left: 10%;
    top: 20%;
    height: 300px;
    width: 300px;
    background: rgba(15, 53, 57, 0.4);
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.about-box-right-appear {
opacity: 1;
transform: translate(180px, -70px);
}

.about-box-left{
position: relative;
left: -10%;
top: 3.5%;
height: 300px;
width: 300px;
background: rgba(15, 53, 57, 0.4);
opacity: 0;
transition: 0.5s all ease-in-out;
}

.about-box-left-appear {
opacity: 1;
transform: translate(-180px, -70px);
}