.career-hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 1410px;
    margin: 120px 0px 0px 0px;
    padding: 0;
}

.career-description {
    margin-top: 210px;
    margin-bottom: 200px;
    padding: 0px 20px;
    height: 850px;
    width: 45%;
    opacity: 0;
    transition: 1.6s all ease-in-out;
}

.career-description-appear {
    opacity: 1;
}

.career-description h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #464646;
}

.career-description p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #464646;
    font-size: 25px;
    line-height: 1.4;
}

.divider::after {
    content: "";
    position: absolute;
    bottom: -1;
    left: 0;
    width: 45%;
    height: 3.5px;
    background: #4f8476;
    z-index: 99999;
    transform: scaleX(0);
  }
  
  .divider2::after {
    transform-origin: top left;
  }

  .loaded .divider::after {
    animation: scaleIn .4s ease-in 0.3s forwards;
  }
  
  @keyframes scaleIn {
    100% {
      transform: scaleX(1);
    }
  }

.career-hero {
    padding: 0px 20px;
    background-image: url(../inspire-img/careers-hero.jpg);
    background-repeat: no-repeat;
    height: 850px;
    width: 45%;
    opacity: 0;
    transform: translateX(80px);
    transition: .5s all ease-in-out;
}

.career-hero-appear {
    opacity: 1;
    transform: translateX(0px);
}