.hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-image: url("../inspire-img/hero-scaled.jpg");
    

    @include breakpoint-down(small){
        height: 70vh;
        background-image: url("../inspire-img/hero-small.jpg");
    }

    @include breakpoint-down(xsmall){
        height: 45vh;
        background-image: url("../inspire-img/hero-small.jpg");
    }
}

.hero-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 166px;
    margin-bottom: 53px;
    // position: absolute;
    width: 550px;
    height: 249px;
    background: rgba(5, 99, 93, 0.69);
    opacity: 0;
    transform: translateX(-20px);
    transition: 0.5s all ease-in-out;
} 

.hero-headline-appear {
    opacity: 1;
    transform: translateX(0px);
}

.hero-cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -23px;
    //position: absolute;
    width: 534px;
    height: 201px;
    background: #fff;
    position: relative;
    right: -128px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s all ease-in-out;

        &:hover{
            cursor: pointer;
            color: rgb(121, 121, 121);
        }
}

.hero-cta-button-appear {
    opacity: 1;
    transform: translateY(0px);
}

.hero-cta-btn-text {
    text-decoration: none;

    &:hover {
        color: rgb(121, 121, 121);
    }
}

.hero-cta-button h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #000000;

        &:hover {
            color: rgb(121, 121, 121);
        }
}

.hero-headline h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 78px;
    color: #E8E8E8;
    text-shadow: 0px 2px 1px rgba(91, 142, 146, 0.8);
}

.why-inspire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 98px 51px 50px 51px;
}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex: 1;
    padding-right: 33px;
}

.headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.headline-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.product-bio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ECECEC;
}

.product-bio-card {
    height: 180px;
    width: 250px;
    // border: 1px solid #969696;
    box-shadow: 0px 0px 53px -25px rgba(0,0,0,0.55);
    background-color: #fff;
    position: absolute;
    margin-top: -8.8rem;
    margin-left: 3rem;
    z-index: 1;
}

.product-bio-card-h2 {
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 1rem 1rem 1rem 1rem;
}

.product-bio-text {
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0.9rem 0 0.9rem;
}

.product-bio-track {
    height: 411px;
    width: 534px;
    margin-top: 95px;
    margin-bottom: 44px;
    // border: 1px solid #bdbdbd;

        & img:hover {
            border: 1px solid #e2e2e2;
            box-shadow: 0px 0px 75px -40px rgba(0,0,0,0.55);
            transition: transform 0.3s ease-in-out;
            transform: scale(1.016);
            opacity: 0.8;
        }
}

.product-track-hide {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s all ease-in-out;
}

.product-track-appear {
    opacity: 1;
    transform: translateY(0px);
}

.product-bio-reliable {
    height: 411px;
    width: 534px;
    margin-top: 95px;
    margin-bottom: 44px;
    // border: 1px solid #bdbdbd;

        & img:hover {
            border: 1px solid #e2e2e2;
            box-shadow: 0px 0px 75px -40px rgba(0,0,0,0.55);
            transition: transform 0.3s ease-in-out;
            transform: scale(1.016);
            opacity: 0.8;
        }
}

.product-reliable-hide {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s all ease-in-out;
}

.product-reliable-appear {
    opacity: 1;
    transform: translateY(0px);
}

.product-bio-everything {
    height: 411px;
    width: 534px;
    margin-bottom: 77px;
    // border: 1px solid #bdbdbd;

        & img:hover {
            border: 1px solid #e2e2e2;
            box-shadow: 0px 0px 75px -40px rgba(0,0,0,0.55);
            transition: transform 0.3s ease-in-out;
            transform: scale(1.016);
            opacity: 0.8;
        }
}

.product-everything-hide {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s all ease-in-out;
}

.product-everything-appear {
    opacity: 1;
    transform: translateY(0px);
}

.product-bio-advanced {
    height: 411px;
    width: 534px;
    margin-bottom: 77px;
    // border: 1px solid #bdbdbd;

        & img:hover {
            border: 1px solid #e2e2e2;
            box-shadow: 0px 0px 75px -40px rgba(0,0,0,0.55);
            transition: transform 0.3s ease-in-out;
            transform: scale(1.016);
            opacity: 0.8;
        }
}

.product-advanced-hide {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s all ease-in-out;
}

.product-advanced-appear {
    opacity: 1;
    transform: translateY(0px);
}

.reviews-title {
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.reviews {
    height: 317px;
    display: flex;
    justify-content: center;
}

.review-container {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 425px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    // border: 1px solid #bdbdbd;
}

.review-container-ali-hide {
    opacity: 0;
    transition: 0.7s all ease-in-out;
}

.review-container-ali-appear {
    opacity: 1;
}

.review-container-li-hide {
    opacity: 0;
    transition: 0.7s all ease-in-out;
}

.review-container-li-appear {
    opacity: 1;
}

.review-container-rich-hide {
    opacity: 0;
    transition: 0.7s all ease-in-out;
}

.review-container-rich-appear {
    opacity: 1;
}

.review-container:nth-child(1) {
    margin-right: 30px;
}

.review-container:nth-child(2) {
    margin-right: 30px;
}

.review-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 98px;
    width: 98px;
    // border: 1px solid #bdbdbd;
}

.review-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 250px;
    width: 327px;
    // border: 1px solid #bdbdbd;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 333px;
    background-color: #518178;
    background-image: url(../inspire-img/stripes.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cta h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(25, 41, 40, 0.8);
}

// .cta button {
//     height: 77px;
//     width: 304px;
//     font-family: 'Roboto', sans-serif;
//     font-size: 30px;
// }

.cta-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 77px;
    width: 304px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #505050;
    text-decoration: none;
    background-color: #fff;

        & :hover{
            color: #949494;
        }
}





