.products-hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-image: url("../inspire-img/products-hero-optimized.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

    // @include breakpoint-down(small){
    //     height: 70vh;
    //     background-image: url("../inspire-img/hero-small.jpg");
    // }

    // @include breakpoint-down(xsmall){
    //     height: 45vh;
    //     background-image: url("../inspire-img/hero-small.jpg");
    // }
}

.products-hero-overlay {
    height: 850px;
    width: 1440px;
    position: absolute;
    //background: rgba(17, 82, 70, 0.73); 
    background: linear-gradient(to right,  rgba(0, 66, 53, 6), rgba(0, 66, 53, 0.57), rgba(12, 81, 67, 0.45),rgba(24, 81, 70, 0.4));
}

.products-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #E8E8E8;
    z-index: 1;
    width: 100vw;
    height: 850px;
    margin-left: -215px;
    margin-top: -20px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
}

.products-hero-text-appear {
    opacity: 1;
    transform: translateX(0px);
}

.products-description-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 1360px;
    padding: 40px 0px;
}

.products-it {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 670px;
    background-color: #ffffff;
    // border: 1px solid red;
    padding: 10px;
    opacity: 0;
    transform: translateX(-80px);
    transition: .7s all ease-in-out;
}

.products-it-appear {
    opacity: 1;
    transform: translateX(0px);
}

.products-it-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
}

.products-it-headline-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4;
}

.products-it-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    // border: 1px solid green;
    background-image: url(../inspire-img/products-it-manage.jpg);
    opacity: 0;
    transform: translateX(80px);
    transition: .7s all ease-in-out;
}

.products-it-image-appear {
    opacity: 1;
    transform: translateX(0px);
}

.products-core-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    // border: 1px solid blue;
    background-image: url(../inspire-img/products-core.jpg);
    opacity: 0;
    transform: translateX(-80px);
    transition: .7s all ease-in-out;
}

.products-core-image-appear {
    opacity: 1;
    transform: translateX(0px);
}

.products-core {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 670px;
    background-color: #ffffff;
    // border: 1px solid purple;
    padding: 10px;
    opacity: 0;
    transform: translateX(80px);
    transition: .7s all ease-in-out;
}

.products-core-appear {
    opacity: 1;
    transform: translateX(0px);
}

.products-core-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
}

.products-core-headline-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4;
}

.products-culture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 670px;
    background-color: #ffffff;
    // border: 1px solid orange;
    padding: 10px;
    opacity: 0;
    transform: translateX(-80px);
    transition: .7s all ease-in-out;
}

.products-culture-appear {
    opacity: 1;
    transform: translateX(0px);
}

.products-culture-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
}

.products-culture-headline-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4;
}

.products-culture-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    // border: 1px solid yellow;
    background-image: url(../inspire-img/products-culture.jpg);
    opacity: 0;
    transform: translateX(80px);
    transition: .7s all ease-in-out;
}

.products-culture-image-appear {
    opacity: 1;
    transform: translateX(0px);
}

.product-services-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3d3d3d;
    margin: 20px;
}

.product-services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 2.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #858585;
}

.product-services-list ul {
    list-style-type: none;
}
